<%= turbo_frame_tag :main_customers_list do %>
  <h1 class="text-5xl font-thin">Customers</h1>

  <div class="my-4 space-y-4">
    <% @customers.each do |customer| %>
      <div class="px-5 py-4 bg-white border-2 border-gray-300 rounded-3xl">
        <div>
          <span class="font-bold text-gray-700">
            <%= customer.first_name %> <%= customer.last_name %>
          </span>
        </div>
        <div class='pt-1'>
          <span class="text-xs inline-block font-bold py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline bg-blue-600 text-white rounded">
            <%= form_tag('/update_payment', method: :post) do %>
              <%= hidden_field_tag :payment_id, customer.payment_id %>
              <%= submit_tag "#{customer.status} #{number_to_currency(customer.amount)}", class: "hover:cursor-pointer" %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
